/* 
 * Ideally use the same CSS for all GitHub pages landing pages ('index' pages)
 */

html {
    font-family: 'Open Sans', verdana, sans-serif;
}

h1 {
    color:#8e632a;
    padding: 10px;
    font-weight: 400;
}

h2 {
    background: #5b3e912c ;
    padding: 5px;
    font-weight: 400;
}

h3 {
    background: #5b3e912c ;
    font-weight: 400;
}

p, ul, li {
    font-size: 14px ;
}

.no_bullets {
	list-style-type: none;
}

/* link color */
a {
    color: #5b3e91;
    font-weight: bold;
}

.italic {
    font-style: italic ;
}

/* contact info */
.contact {
    text-align: center;
    padding-top: 30px;
}

/* attribution footer */
footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
    padding-bottom: 5px;
    font-size: medium;
}
.footer_workaround {
    height: 110px;
}
.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding-top: 5px;
    column-gap: 20px;
}
