/* 
 * Ideally use the same CSS for all GitHub pages landing pages ('index' pages)
 */

html {
    font-family: monospace ;
}
.indexTop {
    background-color: #DCE8F5 ;
}
.indexHeading {
    background-color: #E8E8E8 ;
}
p, ul, li {
    font-size: 110% ;
}
.footer_workaround {
    height: 100px;
}
footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
}
