/* 
 * Ideally use the same CSS for all GitHub pages landing pages ('index' pages)
 */

html {
    font-family: monospace ;
}
.indexTop {
    background: #DCE8F5 ;
    /* These class names aren't good, deprecate where possible */
}
.indexHeading {
    background-color: #E8E8E8 ;
    /* These class names aren't good, deprecate where possible */
}
h1 {
    background: #DCE8F5 ;
}
p, ul, li {
    font-size: 110% ;
}
.italic {
    font-style: italic ;
}
footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
    padding-bottom: 5px;
}
.footer_workaround {
    height: 110px;
}
.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
