html {
    font-family: monospace ;
}
table {
    margin-bottom: 25px ; 
    border-spacing: 10px ;
}
tbody tr:nth-child(odd) {
    background-color: #D3D3D3 ;
}
tbody tr:nth-child(even) {
    background-color: #F8F8F8 ;
}
li {
    line-height: 1.5 ;
}
.profileInfo {
	text-align: center ;
}
.profileInfo thead {
    font-size: 120% ;
    background-color: #b0dfe5 ;
}
.rtList h2 span {
    background-color: #d0f0c0 ;
}
.rtInfo {
    padding-left: 25px ;
}
.rtInfo thead {
    font-size: 120% ;
    background-color: #d0f0c0 ;
}
.rtInfo th {
    text-align: left;
}
.ptList {
    padding-left: 50px ;
}
.ptList h3 span {
    background-color: #fcf4a3 ;
}
.ptInfo {
    padding-left: 75px ;
}
.ptInfo h4 span {
    font-size: 110% ;
    background-color: #fcf4a3 ;
}
.ptInfoRemark {
    font-style: italic;
    background-color: #EBECF3;
    font-weight: bold;
}
.ptInfoGuidance {
    background-color: #d3d3d3;
}
.ptInfoGuidance h5 {
    font-size: 100%;
    text-decoration: underline;
}

.backlink {
    font-weight: bold ;
    background-color: #F8F8F8 ;
}
.oneTwenty {
    font-size: 120% ;
}
.strong {
    font-weight: bold ;
}
.italic {
    font-style: italic ;
}
#listItemCaret {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.caret {
  cursor: pointer;
  user-select: none;
}
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down::before {
  transform: rotate(90deg);
}
.nested {
  display: none;
}
.ptInfoGuidance .nested {
    border-color: #d3d3d341;
    background-color: #d3d3d341;
    border-style: solid;
    border-width: 2px;
    padding-bottom: 8px;
}
.active {
  display: block;
}
footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
}
.footer_workaround {
    height: 110px;
}
