html {
    font-family: 'Open Sans', verdana, sans-serif;
    font-size: small;
}

.banner {
    background-color: #4b2e83;
    padding: 10px; 
}

table {
    margin-bottom: 25px ; 
    border-spacing: 10px ;
}
tbody tr:nth-child(odd) {
    background-color: #D3D3D3 ;
}
tbody tr:nth-child(even) {
    background-color: #F8F8F8 ;
}
li {
    line-height: 1.5 ;
}
h1 {
   
    color:#8e632a;
    padding: 10px;
    font-weight: 400;
}

h2 {
    background: #5b3e912c ;
    padding-left: 30px;
    width: 100%;
    padding-top: .5%;
    padding-bottom: .5%;
    font-weight: 400;
}

a {
    color: #5b3e91;
    font-weight: bold;
}

.profileInfo {
	text-align: center ;
}
.profileInfo thead {
    font-size: 14px ;
    background: #5b3e912c ; ;
}
.rtInfo {
    padding-left: 25px ;
}
.rtInfo thead {
    background-color: #5b3e912c ;
}
.ptList {
    padding-left: 50px ;
}
.ptInfo {
    padding-left: 75px ;
}
.ptInfo h3 span {
    background-color: #fcf4a3 ;
    font-weight: bold;
    font-size: 14px;
}
.ptInfoRemark {
    font-style: italic;
    background-color: #EBECF3;
    font-weight: bold;
}
.ptInfoGuidance {
    background-color: #d3d3d3;
}
.ptInfoGuidance h4 {

    text-decoration: underline;
}

.backlink {
    font-weight: bold ;
    background-color: #F8F8F8 ;
}
.oneTwenty {
    font-size: 14px ;
}
.strong {
    font-weight: bold ;
}
.italic {
    font-style: italic ;
}
#listItemCaret {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.caret {
  cursor: pointer;
  user-select: none;
}
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down::before {
  transform: rotate(90deg);
}
.nested {
  display: none;
}
.ptInfoGuidance .nested {
    border-color: #d3d3d341;
    background-color: #d3d3d341;
    border-style: solid;
    border-width: 2px;
    padding-bottom: 8px;
    padding-top: 12px; 
}
.active {
  display: block;
}
footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
    padding-bottom: 5px;
}
.footer_workaround {
    height: 110px;
}
.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    column-gap: 20px;
}
