html {
  font-family: 'Open Sans', verdana, sans-serif;
  font-size: 14px;
}

body {
  margin-bottom: 12%;
}

h1 {
  color:#8e632a;
  font-weight: 400;
}

a {
  color: #5b3e91;
}

/* Remove default bullets */
ul, #BT {
  list-style-type: none;
}

li {
  margin: 5px;
}

/* Remove margins and padding from the parent ul */
#BT {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  /* reason?? user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: #392068;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.list-container{
  margin-left: 2%;
}

button {
  background: none;
  border: none;
  padding: 2px;
  color: #5b3e91;
  text-decoration: underline;
  cursor: pointer;
  font-size: medium;
  margin-left: 2%;
  margin-bottom: 5px;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  background: #f2f2f2;
  padding-bottom: 5px;
  font-size: small;
}
.footer_workaround {
  height: 110px;
}
.footer_container{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
