html {
    font-family: monospace ;
}
/* HEADINGS */
h1 {
    background-color: #ebebf5 ;
}
h2 {
    background-color: #ebf5f0 ;
}

/* TABLES */
thead th {
    text-align: right ;
}
thead td {
    padding-left: 15px ;
}
tbody th {
    text-align: right ;
}
tbody td {
    padding-left: 15px ;
}

/* BACKLINKS */
.backlink {
    font-weight: bold ;
    padding: 10px ;
    background-color: #F8F8F8 ;
    text-align: center ;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
}
.footer_workaround {
    height: 110px;
}