html {
    font-family: monospace ;
}
.descSet {
    background-color: #DCE8F5 ;
    font-size: 140% ;
}
.sinopiaUrl {
    font-size: 110% ;
    font-weight: bold ;
}
.work {
    background-color: #E8E8E8 ;
    font-size: 130% ;
}
.expression {
    background-color: #DCF5DF ;
    font-size: 120% ;
}
.manifestation {
    background-color: #F5E0DC ;
    font-size: 120% ;
}
.item {
    background-color: #FFDF9E ;
    font-size: 120% ;
}
.property {}
.value {}
.label {
    font-style: italic ;
}
.langTag {
    font-style: italic ;
}
.aMDTop {
    font-weight: bold ;
    font-size: 110% ;
    line-height: 150% ;
    background-color: #F4F5DC ;
    
}
.aMDStatements {}
.lastUpdate {
    font-size: 110% ;
}